div#main {
    padding-top: 60px;
}

.site-header {
    position: fixed;
    z-index: 100;
    box-shadow: 0 16px 30px -28px #000000 !important;
}

.notice {
    position: fixed;
    z-index: 1000000;
    bottom: 0;
    width: 100%;
}