/*.center_content {*/
/*width: 1230px !important;*/
/*}*/
/*.width-2.share {*/
/*width: 899px !important;*/
/*}*/
/*.width-2 .item {*/
/*margin-right: auto !important;*/
/*}*/

.width-2 {
    width: 775px !important;
}

.width-1 {
    width: 345px !important;
}

.center_content {
    width: 1120px !important;
}
